{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{ppl.id}}" method="post" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col">
            <label for="Sex">Sex</label>
            <input id="Sex" type="text" class="form-control" placeholder="Sex" name="Sex" value="{{ppl.Sex}}">
        </div>
        <div class="col">
            <label for="Weight_Sep">Weight_Sep</label>
            <input id="Weight_Sep" type="text" class="form-control" placeholder="Weight_Sep"
                   name="Weight_Sep" value="{{ppl.Weight_Sep}}">
        </div>
        <div class="col">
            <label for="Weight_Apr">Weight_Apr</label>
            <input id="Weight_Apr" type="text" class="form-control" placeholder="Weight_Apr" name="Weight_Apr" value="{{ppl.Weight_Apr}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="BMI_Sep">BMI_Sep</label>
            <input id="BMI_Sep" type="text" class="form-control" placeholder="BMI_Sep" name="BMI_Sep" value="{{ppl.BMI_Sep}}">
        </div>
        <div class="col">
            <label for="BMI_Apr">BMI_Apr</label>
            <input id="BMI_Apr" type="text" class="form-control" placeholder="BMI_Apr" name="BMI_Apr" value="{{ppl.BMI_Apr}}">
        </div>
    </div>
    </br>
    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}