{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Sex</th>
        <th scope="col">Weight_Sep</th>
        <th scope="col">Weight_Apr</th>
        <th scope="col">BMI_Sep</th>
        <th scope="col">BMI_Apr</th>
    </tr>
    </thead>
    <tbody>
    {% for ppl in people %}
    <tr>
        <td><a href="view/{{ppl.id}}">{{ ppl.id }}</a></td>
        <td>{{ ppl.Sex }}</td>
        <td>{{ ppl.Weight_Sep }}</td>
        <td>{{ ppl.Weight_Apr }}</td>
        <td>{{ ppl.BMI_Sep }}</td>
        <td>{{ ppl.BMI_Apr }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}