{% extends "layout.html" %}
{% block content %}
<form action="/people/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="Sex">Sex</label>
            <input id="Sex" type="text" class="form-control" placeholder="Sex" name="Sex">
        </div>
        <div class="col">
            <label for="Weight_Sep">Weight_Sep</label>
            <input id="Weight_Sep" type="text" class="form-control" placeholder="Weight_Sep"
                   name="Weight_Sep">
        </div>
        <div class="col">
            <label for="Weight_Apr">Weight_Apr</label>
            <input id="Weight_Apr" type="text" class="form-control" placeholder="Weight_Apr" name="Weight_Apr">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="BMI_Sep">BMI_Sep</label>
            <input id="BMI_Sep" type="text" class="form-control" placeholder="BMI_Sep" name="BMI_Sep">
        </div>
        <div class="col">
            <label for="BMI_Apr">BMI_Apr</label>
            <input id="BMI_Apr" type="text" class="form-control" placeholder="BMI_Apr" name="BMI_Apr">
        </div>
    </div>

    <button type="submit" class="btn btn-success">Success</button>

</form>

{% endblock %}